<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>freestyle parallel build</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>sample</name>
          <description></description>
          <defaultValue>noparam</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <jenkins.branch.RateLimitBranchProperty_-JobPropertyImpl plugin="branch-api@0.2-beta-4">
      <durationName>hour</durationName>
      <count>0</count>
    </jenkins.branch.RateLimitBranchProperty_-JobPropertyImpl>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;$sample&quot;
rm -rf sources
mkdir sources
cd sources
sleep 30
repo init -u http://gerrit:8080/umbrella -m jenkins.xml
repo sync
/usr/local/maven/bin/mvn clean compile install -Dmaven.test.skip -f primary/pom.xml
/usr/local/maven/bin/mvn clean compile install -Dmaven.test.skip -f secondary/pom.xml</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>