*.class


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Java build and projects
target/
*.iml
.eclipse
.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Jenkins unneeded data
plugins/
.java/
war/
userContent/
updates/
secrets/
nodes/
builds/
jenkins/jenkins_home/init.groovy.d/
.bashrc
.*
*.bak
*.log
*.key*
jobs/*/last*
jobs/*/nextBuildNumber
