<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.10">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.branch.RateLimitBranchProperty_-JobPropertyImpl plugin="branch-api@0.2-beta-4">
      <durationName>hour</durationName>
      <count>0</count>
    </jenkins.branch.RateLimitBranchProperty_-JobPropertyImpl>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.10">
    <script>// Run this with mvn args on each node
def mvn(args) {
    sh &quot;${tool &apos;Maven 3.x&apos;}/bin/mvn ${args}&quot;
}

def fetch_repo() {
    sh &apos;repo init -u http://gerrit:8080/umbrella -m jenkins.xml&apos;
    sh &apos;repo sync&apos;
    sh &apos;repo download $GERRIT_PROJECT $GERRIT_CHANGE_NUMBER/$GERRIT_PATCHSET_NUMBER&apos;
}

// TODO artifact passing
// TODO generate maven artifacts to do stuff with....
// TOOD patchset use
// TODO supply branch name to script for easy customization

def builds = [:]
builds[&apos;devtesting&apos;] =  {
  stage &apos;building&apos;
  node {
    fetch_repo()
    mvn(&apos;-version&apos;)
  }

  def integrationtests = [:]
  integrationtests[&apos;test1&apos;] = {
    node {
     echo &apos;doing test1 for env 1&apos;
    }
  }
  integrationtests[&apos;test2&apos;] = {
    node {
     echo &apos;doing test2 for env 1&apos;
    }
  }
  parallel integrationtests
}

builds[&apos;stage&apos;] = {
  stage &apos;building&apos;
  node {
    fetch_repo()
    sh &apos;repo init -u http://gerrit:8080/umbrella &amp;&amp; repo sync&apos;
    mvn(&apos;-version&apos;)
  }
}

parallel builds</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers>
    <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger plugin="gerrit-trigger@2.15.0">
      <spec></spec>
      <gerritProjects>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
          <compareType>PLAIN</compareType>
          <pattern>primary</pattern>
          <branches>
            <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
              <compareType>PLAIN</compareType>
              <pattern></pattern>
            </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
          </branches>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
          <compareType>PLAIN</compareType>
          <pattern>secondary</pattern>
          <branches>
            <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
              <compareType>PLAIN</compareType>
              <pattern></pattern>
            </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
          </branches>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
      </gerritProjects>
      <skipVote>
        <onSuccessful>false</onSuccessful>
        <onFailed>false</onFailed>
        <onUnstable>false</onUnstable>
        <onNotBuilt>false</onNotBuilt>
      </skipVote>
      <silentMode>false</silentMode>
      <notificationLevel></notificationLevel>
      <silentStartMode>false</silentStartMode>
      <escapeQuotes>true</escapeQuotes>
      <noNameAndEmailParameters>false</noNameAndEmailParameters>
      <dependencyJobsNames></dependencyJobsNames>
      <readableMessage>false</readableMessage>
      <buildStartMessage></buildStartMessage>
      <buildFailureMessage></buildFailureMessage>
      <buildSuccessfulMessage></buildSuccessfulMessage>
      <buildUnstableMessage></buildUnstableMessage>
      <buildNotBuiltMessage></buildNotBuiltMessage>
      <customUrl></customUrl>
      <serverName>__ANY__</serverName>
      <triggerOnEvents>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginPatchsetCreatedEvent>
          <excludeDrafts>false</excludeDrafts>
          <excludeTrivialRebase>false</excludeTrivialRebase>
          <excludeNoCodeChange>false</excludeNoCodeChange>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginPatchsetCreatedEvent>
      </triggerOnEvents>
      <dynamicTriggerConfiguration>false</dynamicTriggerConfiguration>
      <triggerConfigURL></triggerConfigURL>
      <triggerInformationAction/>
    </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
  </triggers>
</flow-definition>